:root {
  .change-password {
    background-image: url('../../../../../assets/img/background.svg');
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    padding: 30px;

    .form-container {
      background-color: #ffffff;
      flex-grow: 1;
      align-self: center;
      border: 1px solid var(--line);
      width: 600px;
      box-sizing: border-box;
      border-radius: 20px;
      margin-top: 48px;
      margin-bottom: 136px;
      padding: 30px;
      box-shadow: 0px 4px 180px rgba(0, 0, 0, 0.05);
      display: flex;

      > form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .change-password-title {
          color: var(--body-text);
          font-weight: 700;
          font-size: 40px;
          line-height: 56px;
          margin-bottom: 30px;
        }

        > label {
          margin-bottom: 8px;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          color: var(--placeholder);
        }
      }
    }
  }
}
