:root {
  .text-color {
    color: var(--text-color);
  }
  .general_setting {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-top: 30px;
    padding-right: 15px;
    .title {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      margin-top: 20px;
      color: var(--title-active);
      .btn-action-general {
        button {
          position: relative;
          width: 34px;
          height: 30px;
          background: url('/assets/icon/export.svg');
          background-repeat: no-repeat;
          border: none;
          cursor: pointer;
          display: block;
          font-size: 0;
        }
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .btn-download {
          margin-left: 20px;
          color: var(--color-primary);
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 8px 35px;
          border: 1px solid var(--color-primary);
          box-sizing: border-box;
          border-radius: 10px;
          cursor: pointer;
          background: none;
          font-size: 12px;
        }
      }
    }
    .btn-action-disable {
      button:nth-child(1) {
        position: relative;
        width: 34px;
        height: 30px;
        background: url('/assets/icon/export.svg');
        background-repeat: no-repeat;
        border: none;
        cursor: default;
        opacity: 0.5;
        display: block;
        font-size: 0;
      }
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      .btn-download {
        margin-left: 20px;
        color: var(--color-primary);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 35px;
        border: 1px solid var(--color-primary);
        box-sizing: border-box;
        border-radius: 10px;
        cursor: pointer;
        background: none;
        font-size: 12px;
      }
    }
    .wrap-container {
      border: 1px solid var(--line);
      border-radius: 10px;
      margin-top: 20px;
      background-color: var(--block-background);
      .title-table {
        font-weight: 500;
        color: var(--title-active);
        padding-left: 30px;
        padding-top: 25px;
      }
      .wrap-container-inside {
        border-radius: 10px;
        margin: 25px;
      }
      .table-no-data {
        font-size: 14px;
        margin: 20px 0;
        text-align: center;
        color: var(--color-body);
      }
      .theme-custom-table {
        padding: 0 25px;
        border-spacing: 0pt;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 0 !important;
        text-align: left;
        color: var(--body-text);
        th {
          padding: 15px;
          border-bottom: 1px solid var(--line);
          border-right: none;
          margin: 30px 16px 0 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
        }
        td {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          padding: 18px;
          border-bottom: 1px solid var(--line);
          border-right: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        tr:last-child td {
          border-bottom: none;
        }
      }
    }
    .footer-pagination {
      display: flex;
      justify-content: flex-end !important;
      margin-top: 20px;
    }
  }
  // modal
  .modal-type {
    overflow: unset !important;
    .title-general {
      text-align: center !important;
      color: var(--color-title-active);
      font-size: 26px;
      .close-button {
        position: absolute;
        right: 0;
        top: 15px;
        margin-top: 5px;
        color: var(--color-title-active);
      }
      .btn-export-dark {
        position: relative;
        width: 98px;
        height: 115px;
        background: url('/assets/icon/csv-download.svg');
        background-repeat: no-repeat;
        border: none;
        cursor: auto;
        display: block;
        margin: 20px auto auto auto;
      }
      .btn-export-light {
        position: relative;
        width: 98px;
        height: 115px;
        background: url('/assets/icon/csv-dark.svg');
        background-repeat: no-repeat;
        border: none;
        cursor: auto;
        display: block;
        margin: 20px auto auto auto;
      }
      .btn-invalid {
        position: relative;
        width: 140px;
        height: 140px;
        background: url('/assets/icon/warning.svg');
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        display: block;
        margin: 20px auto auto auto;
      }
    }
    .description-general {
      text-align: center !important;
      color: var(--color-body);
      font-size: 16px;
      margin: 0;
    }
    .btn-action-popup {
      width: 100%;
      margin-bottom: 10px;
      .btn-download-popup {
        input {
          display: none !important;
        }
        label {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 3px 20px;
          height: 44px;
          background: var(--color-primary);
          box-sizing: border-box;
          border-radius: 10px;
          cursor: pointer;
          font-size: 16px;
          width: 100%;
          color: #fff;
        }
      }
    }
  }
  .MuiDialog-paper {
    overflow: unset !important;
  }
  .modal-content,
  .MuiDialog-paperWidthSm {
    width: 500px !important;
    overflow: unset !important;
    margin-bottom: 10px;
  }
  .dialog-modal {
    width: 500px !important;
  }

  .MuiDialog-paper {
    overflow: unset !important;
  }
}
