:root {
  .cross-matrix-table-container {
    min-width: 1024px;
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--block-background);
    border-radius: 10px;
    margin-top: 30px;

    .theme-custom-table {
      border-spacing: 0pt;
      border-collapse: separate;
      width: 100%;
      margin-bottom: 0 !important;
      text-align: left;
      color: var(--body-text);
      border: 1px solid var(--color-line);
      border-radius: 10px;
      padding: 0px 34px 0px 34px;

      .flag-img {
        width: 30px;
        height: 20px;
        border-radius: 2px;
      }

      .flag-margin {
        margin-right: 8px;
      }

      th,
      td {
        border-bottom: 1px solid var(--color-line);
      }

      tr {
        th:first-child,
        td:first-child {
          width: 44px;
          padding-left: 0px;
        }

        th:last-child,
        td:last-child {
          width: 65px;
        }
      }

      th {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-body);
        padding: 20px;
        user-select: none;

        .th-flag {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-start;
        }
      }

      td {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        padding: 16px;
        border-bottom: 1px solid var(--line);
        border-right: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      tr:last-child td {
        border-bottom: none;
      }
    }

    .table-no-data {
      font-size: 14px;
      margin-top: 20px;
      text-align: center;
      color: var(--color-body);
    }

    .update-time-text {
      width: 100%;
      text-align: right;
      margin-top: 16px;
      font-size: 14px;
      line-height: 20px;
      color: var(--color-body);
    }

    .exr-up {
      color: var(--color-success);
    }

    .exr-down {
      color: var(--color-error);
    }

    .exr-still {
      color: var(--text-color);
    }
  }
}
