:root {
  .close-button {
    position: absolute;
    right: 0;
    margin-top: 5px;
    color: var(--color-title-active);
  }

  .title {
    font-size: 26px !important;
    font-weight: 500;
    text-align: center;
    color: var(--color-title-active);
  }
  .text-content {
    color: var(--body-text);
    font-size: 16px;
  }
  .box_up {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 8px 24px;
    .box-address {
      padding: 8px 20px;
      display: flex;
      width: 100%;
      cursor: pointer;
      .btn-cancel {
        color: #fff;
        border: 1px solid var(--color-white);
        background: #2a2c33;
        border-radius: 12px;
        height: 44px;
        width: 100%;
        font-size: 12px;
        text-transform: capitalize;
      }
      .btn-reject {
        color: #fff;
        border: 1px solid var(--color-white);
        background: var(--color-success);
        border-radius: 12px;
        height: 44px;
        margin-left: 10px;
        width: 100%;
        font-size: 12px;
        text-transform: capitalize;
      }
    }
  }
  .dialog-container {
    height: 264px;
    width: 550px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
  }
}
