.info-container {
  border: 1px solid var(--line);
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  padding: 12px 30px 30px 30px;
  background: var(--color-bg-table);

  .element:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .element {
    padding-bottom: 18px;
    margin-top: 18px;
    border-bottom: 1px solid var(--line);

    .head-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: var(--title-active);
    }
    .info {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      margin-top: 10px;
      color: var(--color-body);
      min-height: 30px;
    }
  }
}
