.header-text-style {
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: var(--color-body) !important;
}

.data-text-style {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
